Job {
  Name = "BackupHikCentral"
  Description = "Backup do HikCentral VSM Servers com VSS e réplica offsite"
  JobDefs = "DefaultJob"
  Client = "hikcentral-fd"
  FileSet = "HikCentralData"
  Storage = "File"
  Pool = "Full"

  # Sincronização automática pós-backup para o Google Drive e PBS Nuvem
  RunScript {
    RunsWhen = After
    RunsOnSuccess = Yes
    RunsOnFailure = No
    Command = "/usr/local/bin/sync-to-pbs.sh %j %l"
  }
}
