Job {
  Name = "BackupHikCentral"
  Description = "Backup do HikCentral VSM Servers com VSS e replica offsite"
  JobDefs = "DefaultJob"
  Client = "hiksrv-ad01-fd0-calabasas"
  FileSet = "HikCentralData"
  Storage = "File"
  Pool = "Full"

  RunScript {
    RunsWhen = After
    RunsOnSuccess = Yes
    RunsOnFailure = No
    Command = "/usr/local/bin/sync-to-pbs.sh %j %l"
  }
}
