Pool {
  Name = "GoogleDrive"
  Description = "Pool de volumes para armazenamento em nuvem no Google Drive"
  Pool Type = Backup
  Recycle = yes
  AutoPrune = yes
  Volume Retention = 365 days
  Maximum Volume Bytes = 10G
  Maximum Volumes = 100
  Label Format = "GDrive-Vol-"
}
