FileSet {
  Name = "HikCentralData"
  Description = "Dados e VSM Servers do HikCentral no Windows com VSS"
  Enable VSS = yes
  Include {
    Options {
      Signature = MD5
      Compression = GZIP
      IgnoreCase = yes
    }
    File = "C:/Program Files (x86)/HikCentral/VSM Servers"
  }
}
