Client {
  Name = "hikcentral-fd"
  Description = "Windows Server - HikCentral (177.137.33.146)"
  Address = "177.137.33.146"
  Password = "OnliBackupHikCentral@2080"
  File Retention = 30 days
  Job Retention = 6 months
  AutoPrune = yes
}
